<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.PractiseTimeRecordMapper">

    <insert id="insertBatch">
        INSERT INTO practice_time_record
        (record_id, user_id, music_id, bpm, date, duration, updated_at)
        VALUES
        <foreach collection="records" item="r" separator=",">
            (
            #{r.recordId},
            #{r.userId},
            #{r.musicId},
            #{r.bpm},
            #{r.date},
            #{r.duration},
            #{r.updatedAt}
            )
        </foreach>
    </insert>

</mapper>
